APP_ENV=development
APP_DEBUG=true
APP_KEY=SomeRandomKey32CharsLongExactly!

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=framework_ai
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

TIMEZONE=Asia/Jakarta
